<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../css/kontak.css">
</head>
<body>
    <a href="user.html" class="logout-btn">⬅ Menu Utama</a>
    <section class="contact-section">
    <h2>Contact Us</h2>
    <p class="contact-subtitle">Need help? The LuxRide team is available 24/7 to assist you.</p>

    <div class="contact-container">
        
    <div class="contact-info">
    
    <div class="contact-logo">
        <img src="../assets/header.png" alt="LuxRide Logo">
    </div>
        <h3>Informasi Kontak</h3>
            <p>📍 Jl. RE Martadinata No. 273, Yogyakarta</p>   
            <p>📞 +62 812-3456-7890</p>
            <p>✉️ luxride@email.com</p>
            <p>🕒 Senin - Minggu (24 Jam)</p>
        </div>
        <!-- Form Kontak -->
        <div class="contact-form">
            <h3>Kirim Pesan</h3>
            <form>
                <input type="text" placeholder="Nama Lengkap" required>
                <input type="email" placeholder="Email" required>
                <textarea rows="4" placeholder="Tulis pesan Anda..." required></textarea>
                <button type="submit">Kirim Pesan</button>
            </form>
        </div>

    </div>
</section>

</body>
</html>